# Analyzers
[*.cs]
# C# Compiler Rules
dotnet_diagnostic.CS1572.severity = none # XML comment on 'construct' has a param tag for 'parameter', but there is no parameter by that name
dotnet_diagnostic.CS1573.severity = none # Parameter 'parameter' has no matching param tag in the XML comment for 'parameter' (but other parameters do)

# Code Quality Rules
dotnet_diagnostic.CA1054.severity = none # URI parameters should not be strings

# Code Style Rules
dotnet_diagnostic.IDE1006.severity = none # Naming rule violation: Prefix '_' is not expected
dotnet_diagnostic.IDE0161.severity = none # Convert to file-scoped namespace

# Copyright File Header
dotnet_diagnostic.IDE0073.severity = none